.Button{
    height:100%;
    padding:12px 20px;
    
}
.Button>button{
   margin:10px auto;
   padding:5px;
   width:100px;
   background-color: transparent;
   color:#666;
   font-family: inherit;
   border:2px solid #666;  
   border-radius: 3px 3px;
}
.Button>button:hover{
    border:2px solid #fff;
    color:#fff;
}
