.AddCity{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    color:#fff;
    position: fixed;
    left:0;
    top:0;
    transition: all 0.3s ease-out;
    z-index:100;
}

.Form{
    position:absolute;
    top:25%;
    left:20%;
    width:60%;
    height:50%;
    z-index: 110;
    padding:20px;
}