.City{
    width:100%;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
    float:left;
    font-size: 12px;
    display:flex;
    justify-content: space-between;    
}
.City a{
    text-decoration: none;
}

.Time{
    font-size:8px;
    text-align: left;
}
.Name{
    font-weight: bold;
}
